# PyCharm
venv/
.idea/
log/

# Jupyter notebook
*.ipynb
.ipynb_checkpoints

# Python
__pycache__/
*.pyc

# Binary
*.png
*.jpg
*.bin
*.dat

# Human3.6M
H36M.conf

# Log
*.log

# Symbolic link
save
data
runs
